<!DOCTYPE html>
<html lang="en">
  <!-- Pass a JavaScript variable to a partial in EJS -->
  <%- include('partials/head.ejs', { title: "Update order" }) %>
<body>
  <%- include('partials/navbar') %>

  <div class="content">
    <div class="update">
      <h2>Update Order</h2>
      <form action="/single-order/<%= order._id %>?_method=PUT" method="POST">
        <label>Customer:</label>
        <input type="text" value="<%= order.customer %>" id="customer" name="customer" required />

        <label for="totalAmount">Total Amount:</label>
        <input type="number" id="totalAmount" name="totalAmount" value="<%= order.totalAmount %>" required /><br />

        <label for="duration">Duration:</label>
        <input type="number" id="duration" name="duration" value="<%= order.duration %>" required /><br />

        <label for="products">Products:</label>
        <input type="text" id="products" name="products" value="<%= order.products %>" /><br />

        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value="<%= order.status %>" /><br />

        <button type="submit">Update Order</button>
      </form>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
